<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>หน้าแรก</title>
    <!-- <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    /> -->
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <%- include('../pages/nav'); %>
  </head>
  <body>
    <h1 class="text-center p-5">Homepage</h1>
    <div class="container h-100">
      <div class="row align-items-center h-100">
        <div class="col-6 mx-auto">
          <div class="jumbotron">
            Center
        </div>
        </div>
        
      </div>
  </div>
  
    <div class="card" style="width: 18rem;">
    <% ListUsers.forEach(function(user){ %>
      <%= user.Firstname %> <%= user.Lastname %> <br>
      <% }) %>
    </div>
  
  </body>

</html>
