<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>ระบบลงทะเบียนนักศึกษา</title>
    <!-- <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    /> -->
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <%- include('../pages/nav'); %>
  </head>
  <body>
    
    <h1 class="text-center p-5">ระบบลงทะเบียนนักศึกษา</h1>
    <div class="container">
      <div class="row pt-4">
        <div class="col-4 mx-auto ">
          <label for="FirstName">ชื่อ :</label>
          <input class="form-control" type="text" id="FirstName" name="FirstName"><br>
          <label for="LastName">นามสกุล :</label>
          <input class="form-control" type="text" id="LastName" name="LastName"><br>
          <label for="LastName">เบอร์โทรศัพท์ :</label>
          <input class="form-control" type="text" id="Phone"><br>
          <label for="LastName">อีเมลล์ :</label>
          <input class="form-control" type="email" id="Email"><br>
          <label for="Birthday">วันเกิด :</label><br>
          <input class="form-control" type="date" id="Birthday"><br> 
          <label for="Birthday">เพศ :</label><br>
          <select class="form-control" id="Gender">
            <option value="ไม่ระบุ">ไม่ระบุ</option>
            <option value="male">ชาย</option>
            <option value="famale">หญิง</option>
         </select><br>
          <select class="form-control" id="Faculty">
            <option value="ไม่ระบุ">คณะที่เรียน</option>
            <option value="คณะศิลปศาสตร์">คณะศิลปศาสตร์</option>
            <option value="คณะวิศวกรรมศาสตร์">คณะวิศวกรรมศาสตร์</option>
            <option value="คณะเทคโนโลยีสื่อสารมวลชน">คณะเทคโนโลยีสื่อสารมวลชน</option>
            <option value="คณะบริหารธุรกิจ">คณะบริหารธุรกิจ</option>
            <option value="คณะเทคโนโลยีคหกรรมศาสตร์">คณะเทคโนโลยีคหกรรมศาสตร์</option>
            <option value="คณะวิทยาศาสตร์และเทคโนโลยี">คณะวิทยาศาสตร์และเทคโนโลยี</option>
            <option value="คณะสถาปัตยกรรมศาสตร์">คณะสถาปัตยกรรมศาสตร์</option>
            <option value="คณะพยาบาลศาสตร์">คณะพยาบาลศาสตร์</option>
            <option value="คณะเทคโนโลยีการเกษตร">คณะเทคโนโลยีการเกษตร</option>
            <option value="คณะการแพทย์บูรณาการ">คณะการแพทย์บูรณาการ</option>
          </select>
          <br>
          <div class="container">
            <div class="col-md-12 text-center">
              <button class="btn btn-success" onclick="submit()">Submit</button>
              <!-- <button class="btn btn-success" onclick="submit()">Submit</button> -->
            </div>
        </div>

        </div>
      </div>
    </div>

  </body>

  <script>
            
    async function submit() {
        console.log('submit');
        let firstname = document.getElementById('FirstName').value
        let lastname = document.getElementById('LastName').value
        let phone = document.getElementById('Phone').value
        let faculty = document.getElementById('Faculty').value
        let gender =document.getElementById('Gender').value
        let birthday = document.getElementById('Birthday').value
        // var data = {};
        data = {
            Firstname: firstname,
            Lastname: lastname,
            Phone: phone,
            birthday: birthday,
            Gender: gender,
            Faculty: faculty,
        };
        console.log(data);
        let root = document.location.hostname
                const raw = await fetch(`http://${root}/addUser`, {
                    method: 'POST', // or 'PUT'
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(data),
                }).then((res) => {
                    var root = document.location.hostname
                    location.href = `http://${root}/`
                    console.log(data);
                })

        clearInput();
      }

      function clearInput(){
      var getValue= document.getElementById("FirstName");
        if (getValue.value !="") {
            getValue.value = "";
        }
      var getValue= document.getElementById("LastName");
        if (getValue.value !="") {
            getValue.value = "";
        }
      var getValue= document.getElementById("Phone");
         if (getValue.value !="") {
              getValue.value = "";
          }
      var getValue= document.getElementById("Birthday");
          if (getValue.value !="") {
                getValue.value = "";
            }
      var getValue= document.getElementById("Faculty");
            if (getValue.value !="") {
                  getValue.value = "";
              }
      var getValue= document.getElementById("Gender");
              if (getValue.value !="") {
                    getValue.value = "";
                }
      var getValue= document.getElementById("Email");
              if (getValue.value !="") {
                    getValue.value = "";
                }
 }
</script>

<script src="uploadData.js" type="application/json"></script>
</html>
