body {
    scroll-behavior: smooth;
    align-items:center;
    justify-content:center;
    background-color: #ffffff;
    color: #000000;
    font-family: 'kanit', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    padding: 0;
 
  }
.text-center {
    text-align: center;
  }
.search-button{
    background-color: #000000;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    margin-left: 1rem;
    cursor: pointer;
  }
.search-button:hover{
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #000000;
  }